# Proyecto Final

### Integrantes:
* Daniel Cifuentes
* Andrea Rivas

In [43]:
# Librerias
import numpy as np
import pandas as pd
# Extra
from sklearn.model_selection import train_test_split

In [44]:
data = pd.DataFrame(np.load('./data/proyecto_training_data.npy'))
data

             0    1       2    3       4     5
0     208500.0  7.0   856.0  8.0  2003.0  65.0
1     181500.0  6.0  1262.0  6.0  1976.0  80.0
2     223500.0  7.0   920.0  6.0  2001.0  68.0
3     140000.0  7.0   961.0  7.0  1915.0  60.0
4     250000.0  8.0  1145.0  9.0  2000.0  84.0
...        ...  ...     ...  ...     ...   ...
1455  175000.0  6.0   953.0  7.0  1999.0  62.0
1456  210000.0  6.0  2073.0  7.0  1978.0  85.0
1457  266500.0  7.0  1188.0  9.0  1941.0  66.0
1458  142125.0  5.0  1078.0  5.0  1950.0  68.0
1459  147500.0  5.0  1256.0  6.0  1965.0  75.0

[1460 rows x 6 columns]

In [45]:
# Separación de train (80%) y test (20%)
train, test = train_test_split(data, test_size = 0.2)

In [46]:
# Resumen 
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1168 entries, 1157 to 438
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1168 non-null   float64
 1   1       1168 non-null   float64
 2   2       1168 non-null   float64
 3   3       1168 non-null   float64
 4   4       1168 non-null   float64
 5   5       976 non-null    float64
dtypes: float64(6)
memory usage: 63.9 KB

## 3. Análisis Exploratorio

In [47]:
# Media 
train.mean()

0    179340.991438
1         6.088185
2      1159.931507
3         6.515411
4      1971.469178
5        70.261270
dtype: float64

In [48]:
# Valores máximos
train.max()

0    755000.0
1        10.0
2      4692.0
3        14.0
4      2010.0
5       313.0
dtype: float64

In [49]:
# Valores mínimos
train.min()

0    35311.0
1        1.0
2      372.0
3        3.0
4     1872.0
5       21.0
dtype: float64

In [50]:
# Rango

In [51]:
# Desviación estándar
train.std()

0    75494.541489
1        1.375485
2      380.780894
3        1.598447
4       30.418600
5       24.530387
dtype: float64

## 4. Histogramas

## 5. Análisis de Selección de Variables

In [52]:
# y = β0 + β1 ∗ x
b0 = 15
b1 = 1
a = 0.15
data2 = pd.DataFrame({'x': [1, 3, 4, 5, 6], 'y': [20, 25, 30, 40, 55]})
data2

   x   y
0  1  20
1  3  25
2  4  30
3  5  40
4  6  55

In [53]:
y_s = b0 + data2.x * b1
error = ((data2.y - y_s) ** 2).sum()/(2 * data2.y.count())
error

174.2

In [54]:
#Gradiente b0
gb0 = ((y_s - data2.y).sum())/y_s.count()
gb0

-15.2

In [55]:
# Gradiente b1
gb1 = (((y_s - data2.y) * data2.x).sum())/y_s.count()
gb1

-74.6

In [56]:
#Nuevos valores de b0 y b1
nb0 = b0 - a * gb0
nb1 = b1 - a * gb1
print(nb0, nb1)

17.28 12.19

In [117]:
resultados = {}
errores = {}
def regresion_lineal(x, y, epoch, iec, a = 0.95): # iec-> imprimir error cada
    # Inicializar los betas
    b0 = 6
    b1 = 8
    for i in range(1, epoch):
        y_s = b0 + b1 * x #cálculo de y estimado
        resultados[i] = y_s

        e = ((y - y_s) ** 2).sum()/(2 * y.count()) # cálculo del error
        errores[i] = e

        if(i % iec == 0): #Imprimir el error cada iec
            print(i, ". El error es: ", error)
        
        gb0 = ((y_s - y).sum())/y_s.count() #Gradinete de b0
        gb1 = (((y_s - y) * x).sum())/y_s.count() # Gradiente de b1
        
        b0 = b0 - a * gb0 #nb0        
        b1 = b1 - a * gb1 #nb1
    return resultados, errores

In [118]:
regresion_lineal(data2.x, data2.y, 51, 10)

10 . El error es:  174.2
20 . El error es:  174.2
30 . El error es:  174.2
40 . El error es:  174.2
50 . El error es:  174.2

({1: 0    14
  1    30
  2    38
  3    46
  4    54
  Name: x, dtype: int64,
  2: 0    -0.63
  1    -9.33
  2   -13.68
  3   -18.03
  4   -22.38
  Name: x, dtype: float64,
  3: 0     243.8658
  1     635.2184
  2     830.8947
  3    1026.5710
  4    1222.2473
  Name: x, dtype: float64,
  4: 0    -3742.949002
  1    -9885.483070
  2   -12956.750104
  3   -16028.017138
  4   -19099.284172
  Name: x, dtype: float64,
  5: 0     61349.088837
  1    161875.286722
  2    212138.385664
  3    262401.484607
  4    312664.583549
  Name: x, dtype: float64,
  6: 0   -1.001328e+06
  1   -2.642258e+06
  2   -3.462722e+06
  3   -4.283187e+06
  4   -5.103652e+06
  Name: x, dtype: float64,
  7: 0    1.634774e+07
  1    4.313750e+07
  2    5.653237e+07
  3    6.992725e+07
  4    8.332212e+07
  Name: x, dtype: float64,
  8: 0   -2.668900e+08
  1   -7.042542e+08
  2   -9.229364e+08
  3   -1.141618e+09
  4   -1.360301e+09
  Name: x, dtype: float64,
  9: 0    4.357196e+09
  1    1.149752e+10
  2    1.506769e+10
  3    1.863785e+10
  4    2.220802e+10
  Name: x, dtype: float64,
  10: 0   -7.113477e+10
  1   -1.877064e+11
  2   -2.459923e+11
  3   -3.042781e+11
  4   -3.625639e+11
  Name: x, dtype: float64,
  11: 0    1.161333e+12
  1    3.064460e+12
  2    4.016024e+12
  3    4.967588e+12
  4    5.919151e+12
  Name: x, dtype: float64,
  12: 0   -1.895971e+13
  1   -5.002981e+13
  2   -6.556486e+13
  3   -8.109991e+13
  4   -9.663496e+13
  Name: x, dtype: float64,
  13: 0    3.095326e+14
  1    8.167773e+14
  2    1.070400e+15
  3    1.324022e+15
  4    1.577644e+15
  Name: x, dtype: float64,
  14: 0   -5.053372e+15
  1   -1.333455e+16
  2   -1.747515e+16
  3   -2.161574e+16
  4   -2.575633e+16
  Name: x, dtype: float64,
  15: 0    8.250042e+16
  1    2.176975e+17
  2    2.852960e+17
  3    3.528945e+17
  4    4.204930e+17
  Name: x, dtype: float64,
  16: 0   -1.346886e+18
  1   -3.554088e+18
  2   -4.657689e+18
  3   -5.761290e+18
  4   -6.864891e+18
  Name: x, dtype: float64,
  17: 0    2.198902e+19
  1    5.802338e+19
  2    7.604057e+19
  3    9.405775e+19
  4    1.120749e+20
  Name: x, dtype: float64,
  18: 0   -3.589886e+20
  1   -9.472790e+20
  2   -1.241424e+21
  3   -1.535569e+21
  4   -1.829714e+21
  Name: x, dtype: float64,
  19: 0    5.860781e+21
  1    1.546510e+22
  2    2.026726e+22
  3    2.506942e+22
  4    2.987158e+22
  Name: x, dtype: float64,
  20: 0   -9.568202e+22
  1   -2.524803e+23
  2   -3.308795e+23
  3   -4.092787e+23
  4   -4.876778e+23
  Name: x, dtype: float64,
  21: 0    1.562087e+24
  1    4.121947e+24
  2    5.401877e+24
  3    6.681807e+24
  4    7.961737e+24
  Name: x, dtype: float64,
  22: 0   -2.550234e+25
  1   -6.729414e+25
  2   -8.819004e+25
  3   -1.090859e+26
  4   -1.299818e+26
  Name: x, dtype: float64,
  23: 0    4.163465e+26
  1    1.098632e+27
  2    1.439774e+27
  3    1.780917e+27
  4    2.122059e+27
  Name: x, dtype: float64,
  24: 0   -6.797195e+27
  1   -1.793606e+28
  2   -2.350549e+28
  3   -2.907492e+28
  4   -3.464435e+28
  Name: x, dtype: float64,
  25: 0    1.109697e+29
  1    2.928207e+29
  2    3.837462e+29
  3    4.746717e+29
  4    5.655971e+29
  Name: x, dtype: float64,
  26: 0   -1.811671e+30
  1   -4.780536e+30
  2   -6.264969e+30
  3   -7.749401e+30
  4   -9.233834e+30
  Name: x, dtype: float64,
  27: 0    2.957701e+31
  1    7.804615e+31
  2    1.022807e+32
  3    1.265153e+32
  4    1.507499e+32
  Name: x, dtype: float64,
  28: 0   -4.828687e+32
  1   -1.274167e+33
  2   -1.669816e+33
  3   -2.065465e+33
  4   -2.461114e+33
  Name: x, dtype: float64,
  29: 0    7.883225e+33
  1    2.080181e+34
  2    2.726110e+34
  3    3.372040e+34
  4    4.017969e+34
  Name: x, dtype: float64,
  30: 0   -1.287001e+35
  1   -3.396065e+35
  2   -4.450597e+35
  3   -5.505129e+35
  4   -6.559661e+35
  Name: x, dtype: float64,
  31: 0    2.101133e+36
  1    5.544352e+36
  2    7.265962e+36
  3    8.987571e+36
  4    1.070918e+37
  Name: x, dtype: float64,
  32: 0   -3.430271e+37
  1   -9.051606e+37
  2   -1.186227e+38
  3   -1.467294e+38
  4   -1.748361e+38
  Name: x, dtype: float64,
  33: 0    5.600197e+38
  1    1.477748e+39
  2    1.936613e+39
  3    2.395477e+39
  4    2.854342e+39
  Name: x, dtype: float64,
  34: 0   -9.142777e+39
  1   -2.412545e+40
  2   -3.161678e+40
  3   -3.910811e+40
  4   -4.659945e+40
  Name: x, dtype: float64,
  35: 0    1.492633e+41
  1    3.938675e+41
  2    5.161697e+41
  3    6.384718e+41
  4    7.607739e+41
  Name: x, dtype: float64,
  36: 0   -2.436844e+42
  1   -6.430208e+42
  2   -8.426890e+42
  3   -1.042357e+43
  4   -1.242025e+43
  Name: x, dtype: float64,
  37: 0    3.978347e+43
  1    1.049784e+44
  2    1.375758e+44
  3    1.701733e+44
  4    2.027707e+44
  Name: x, dtype: float64,
  38: 0   -6.494975e+44
  1   -1.713858e+45
  2   -2.246038e+45
  3   -2.778218e+45
  4   -3.310398e+45
  Name: x, dtype: float64,
  39: 0    1.060358e+46
  1    2.798012e+46
  2    3.666839e+46
  3    4.535666e+46
  4    5.404493e+46
  Name: x, dtype: float64,
  40: 0   -1.731120e+47
  1   -4.567982e+47
  2   -5.986413e+47
  3   -7.404844e+47
  4   -8.823275e+47
  Name: x, dtype: float64,
  41: 0    2.826194e+48
  1    7.457603e+48
  2    9.773307e+48
  3    1.208901e+49
  4    1.440471e+49
  Name: x, dtype: float64,
  42: 0   -4.613992e+49
  1   -1.217514e+50
  2   -1.595572e+50
  3   -1.973629e+50
  4   -2.351687e+50
  Name: x, dtype: float64,
  43: 0    7.532718e+50
  1    1.987691e+51
  2    2.604901e+51
  3    3.222111e+51
  4    3.839320e+51
  Name: x, dtype: float64,
  44: 0   -1.229777e+52
  1   -3.245068e+52
  2   -4.252713e+52
  3   -5.260358e+52
  4   -6.268003e+52
  Name: x, dtype: float64,
  45: 0    2.007712e+53
  1    5.297837e+53
  2    6.942900e+53
  3    8.587962e+53
  4    1.023302e+54
  Name: x, dtype: float64,
  46: 0   -3.277753e+54
  1   -8.649150e+54
  2   -1.133485e+55
  3   -1.402055e+55
  4   -1.670625e+55
  Name: x, dtype: float64,
  47: 0    5.351199e+55
  1    1.412044e+56
  2    1.850506e+56
  3    2.288968e+56
  4    2.727431e+56
  Name: x, dtype: float64,
  48: 0   -8.736267e+56
  1   -2.305277e+57
  2   -3.021102e+57
  3   -3.736927e+57
  4   -4.452753e+57
  Name: x, dtype: float64,
  49: 0    1.426267e+58
  1    3.763552e+58
  2    4.932195e+58
  3    6.100838e+58
  4    7.269481e+58
  Name: x, dtype: float64,
  50: 0   -2.328496e+59
  1   -6.144306e+59
  2   -8.052210e+59
  3   -9.960115e+59
  4   -1.186802e+60
  Name: x, dtype: float64},
 {1: 16.2,
  2: 1286.7233499999998,
  3: 339970.3309994579,
  4: 90610091.50249448,
  5: 24150504005.062817,
  6: 6436886933590.425,
  7: 1715637628340060.0,
  8: 4.572726695603844e+17,
  9: 1.2187789010502867e+20,
  10: 3.248438204438085e+22,
  11: 8.65813377550219e+24,
  12: 2.3076714333699002e+27,
  13: 6.150687414254703e+29,
  14: 1.6393562411363972e+32,
  15: 4.369412236954832e+34,
  16: 1.1645890513227484e+37,
  17: 3.1040048063902523e+39,
  18: 8.273172263770182e+41,
  19: 2.205066795164327e+44,
  20: 5.877213015893931e+46,
  21: 1.5664665084042917e+49,
  22: 4.175137629547199e+51,
  23: 1.1128086130241099e+54,
  24: 2.965993265603902e+56,
  25: 7.905327069406054e+58,
  26: 2.1070242066635207e+61,
  27: 5.615897948925209e+63,
  28: 1.4968176290050024e+66,
  29: 3.9895009397899503e+68,
  30: 1.0633304579105608e+71,
  31: 2.834118050815182e+73,
  32: 7.553837159653765e+75,
  33: 2.0133408281335942e+78,
  34: 5.366201580145608e+80,
  35: 1.4302655067821668e+83,
  36: 3.812118105029035e+85,
  37: 1.0160522209184105e+88,
  38: 2.7081063261689563e+90,
  39: 7.217975339109298e+92,
  40: 1.9238228385844987e+95,
  41: 5.127607314208469e+97,
  42: 1.3666724524421094e+100,
  43: 3.642622138962399e+102,
  44: 9.708760883816129e+104,
  45: 2.5876973867503064e+107,
  46: 6.897046745230339e+109,
  47: 1.8382850347749146e+112,
  48: 4.899621524842299e+114,
  49: 1.305906898689265e+117,
  50: 3.4806623723841694e+119})